.download-img img{
    /* background: url('https://th.bing.com/th/id/OIG4.Q4_SRv5bs6LIGqEsPAJk?pid=ImgGn'); */
    width:450px;
    height: 450px;
    float: right;
    /* margin-top: -300px; */
}
.download-img{
    display: flex;
    justify-content: center;
    
}
.words{
    color: aliceblue;
}
.words a{
    outline: solid 1px;
}
.downloader{
    position: absolute;
  top: 550px;
  left: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center; 
  font-size: 40px;
  color: aliceblue;
  justify-content: center;
}
.downloader img{
    width: 80px;
    height: 80px;
}

.inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.mac{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left: 200px;
}
@media (max-width:600px) {
    .download-img{
        flex-direction: column;
        flex-wrap: wrap;
        margin-top:-90px;
        margin-left: 40px;
        
    }
    .words{
        font-size: 13px;
        margin-top: -50px;
        margin-left: 30px;
    }
    .downloader{
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: -45px;
        margin-left: 50px;
    }
    .mac{
        margin-left: -10px;
    }
    .download-img img{
        width: 250px;
        height: 400px;
        margin-left: 20px;
    }
    .mobile{
        margin-top: 260px;
    }
}
@media (max-width:820px) {
    .download-img{
        flex-direction: column;
        flex-wrap: wrap;
        
        margin-left: 130px;
        margin-top: 30px;
    }
    .words{
        font-size: 13px;
        margin-top: -50px;
        margin-left: 30px;
    }
    .downloader{
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: -45px;
        margin-left: 120px;
    }
    .mac{
        margin-left: -10px;
    }
    .download-img img{
        width: 500px;
        height: 400px;
        border-radius: 15px;
        
    }
    .mobile{
        margin-top: 490px;
    }
}